# grub-mkconfig snippet for booting Aite OS from a loopback ISO file
# (e.g. via grub2's loopback boot from another distro's grub.cfg).

menuentry "Aite OS (loopback)" --class aite --class gnu-linux --class gnu --class os {
    linux /arch/boot/x86_64/vmlinuz-linux-zen img_dev=$root img_loop=$iso_path archisobasedir=arch copytoram cow_spacesize=1G quiet splash loglevel=3
    initrd /arch/boot/intel-ucode.img /arch/boot/amd-ucode.img /arch/boot/x86_64/initramfs-linux-zen.img
}
